<!-- <ion-datetime-button
  class="ion-margin"
  datetime="datetime"
></ion-datetime-button>

<ion-popover [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime
      showDefaultButtons="true"
      [(ngModel)]="date"
      (ionChange)="newDate($event)"
      presentation="date"
      id="datetime"
      [max]="max"
      [min]="min"
    ></ion-datetime>
  </ng-template>
</ion-popover> -->

<div *ngIf="loading" class="center-spinner">
  <ion-spinner name="crescent"></ion-spinner>
</div>

<app-imagecard *ngIf="!loading" [imageData]="imageData"></app-imagecard>
